
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>medical</title>
    <link rel="icon" href="{{asset('img/favicon.png')}}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
    <!-- animate CSS -->
    <link rel="stylesheet" href="{{asset('css/animate.css')}}">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="{{asset('css/owl.carousel.min.css')}}">
    <!-- themify CSS -->
    <link rel="stylesheet" href="{{asset('css/themify-icons.css')}}">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="{{asset('css/flaticon.css')}}">
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="{{asset('css/magnific-popup.css')}}">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="{{asset('css/nice-select.css')}}">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="{{asset('css/slick.css')}}">
    <!-- style CSS -->
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
</head>
<body>

        <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/"> <img src="img/logo.png" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item justify-content-center"
                            id="navbarSupportedContent">
                            <ul class="navbar-nav align-items-center">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="about">about</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="doctors">Doctors</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="services">Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="blog">Blog</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                        {% if app.user %}
                          <a class="btn_2 d-none d-lg-block" >{{ app.user.getlastname }} {{ app.user.getname }}</a>
                        {% endif %}
                        {% if app.user == false %}
                          <a class="btn_2 d-none d-lg-block" href="login" >sign in</a>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header part end-->
    <!--::regervation_part start::-->
    <a name="appointmentSection"></a>
    <section class="regervation_part section_padding" >
        <div class="container">
            <div class="row align-items-center regervation_content">
                <div class="col-lg-7">
                    <div class="regervation_part_iner">
                        <form>
                            <h2>Register As a doctor</h2>
                            <div class="form-row">
                            {% if app.user %}





                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control"  placeholder={{ app.user.getName }}>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control"  placeholder={{ app.user.getLastname }}>
                                </div>

                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control"  placeholder={{ app.user.getEmail }}>
                                </div>

                                 <div class="form-group col-md-6">
                                    <input type="text" class="form-control"  placeholder={{ app.user.getPhone }}>
                                </div>

                                {% endif %}

                            </div>
                         
                            </form>

                        <section>

{{ form_start(form) }}
<div class="form-group">{{ form_row(form.speciality,{'attr':{'class':'form-control'}}) }}</div>
<div class="form-group">{{ form_row(form.address,{'attr':{'class':'form-control'}}) }}</div>
<div class="form-group">{{ form_row(form.image,{'attr':{'class':'form-control'}}) }}</div>

<button class="btn_2" type="submit">Validate</button>

{{ form_end(form) }}
</section>




                        

                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="reservation_img">
                        <img src="img/reservation.png" alt="" class="reservation_img_iner">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::regervation_part end::-->




    <!-- jquery plugins here-->

    <script src="js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- owl carousel js -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- contact js -->
    <script src="{{asset('js/jquery.ajaxchimp.min.js')}}"></script>
    <script src="{{asset('js/jquery.form.js')}}"></script>
    <script src="{{asset('js/jquery.validate.min.js')}}"></script>
    <script src="{{asset('js/mail-script.js')}}"></script>
    <script src="{{asset('js/contact.js')}}"></script>
    <!-- custom js -->
    <script src="{{asset('js/custom.js')}}"></script>


  
</body>
</html>
